{% extends 'layout.html' %}
{% block styles %}{% endblock styles %}
{% block tital %}<title>YouDownload</title>{% endblock tital %}

{% block content %}
    <div class="flex-row flex-center width-height-100p">
        {{ formvid.hidden_tag() }}
        {{ formvid.csrf_token }}
        <div>
            <h2>Video Download</h2>
            <div class="form">
                <form method="get" action="">
                    {{ formvid.video_url }}
                    {{ formvid.submit }}
                </form>

            </div>
        </div>
    </div>
{% endblock content %}