{% extends 'layout.html' %}
{% block styles %}{% endblock styles %}
{% block tital %}<title>YouDownload</title>{% endblock tital %}

{% block content %}
    <div class="flex-row flex-center width-height-100p">
        <div>
            <h1>Welcome all!</h1>
            <h2>About this project.....</h2>
            <p>The idea for this site is to be able to download video and audio files from YouTube.</p>
            <p>Now... I know what your going to say 'Isn't that Illegal?' and possibly your right...</p>
            <p>However... for this project i will asume we live in the "wonderfull world of everything is free"</p>
        </div>
    </div>
{% endblock content %}