<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/flex_settings.css') }}">
    {% block styles %}{% endblock styles %}
    {% block tital %}{% endblock tital %}
</head>
<body>
    <div class="flex-row flex-center height-10 header-bg">
        <h2>Tom's! Youtube Downloader</h2>
    </div>
    <div class="flex-column height-85 content-bg">
    {% block content %}
    {% endblock content %}
    </div>
    <div class="flex-row flex-center height-5 footer-bg">
        <h5>Created by: Thomas Hankinson || GitHub Repo: <a href="https://github.com/thankinson/youtubedownloader" target="_blank">Click Here</a></h5>
    </div>
</body>
</html>