/* basic flex settings */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-start{
    justify-content: flex-start;
    align-items: center;
}

/* height width sizes */
.page-container{
    width: 100vw;
    min-height: 100vh;
}
.height-half-page{
    width: 100vw;
    height: 50vh;
}
.width-height-half-page{
    width: 50vw;
    height: 50vh;
}